@font-face {
    font-family: 'LemonMilk';
    src:url('../ressources/polices/LemonMilk.otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ZonaPro';
    src:url('../ressources/polices/ZonaPro-Thin.otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ZonaPro';
    src:url('../ressources/polices/ZonaPro-Bold.otf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body{
	font-family: 'ZonaPro';
}

#slt{
	opacity : 0.5;
	cursor : grab;
}

#slt:hover{
	opacity : 1;
}

.bouleCand,.nomsCand{
	cursor : crosshair;
}


.triBd,.boutmode,#add{
	cursor:pointer;
}


.triBd:hover,#add:hover{
	opacity:1;
}


#principal{
	position: absolute;
}


.afrique:hover{
	opacity : 0.7;
	cursor : crosshair;
}
