/* font-face */
@font-face {
    font-family: 'WalbaumGrot';
	font-weight : 700;
    src:url('../ressources/peaulisses/walbaumgroteskbookbold.eot');
    src:url('../ressources/peaulisses/walbaumgroteskbookbold.eot?#iefix') format('embedded-opentype'),
        url('../ressources/peaulisses/walbaumgroteskbookbold.woff2') format('woff2'),
        url('../ressources/peaulisses/walbaumgroteskbookbold.woff') format('woff'),
        url('../ressources/peaulisses/walbaumgroteskbookbold.ttf') format('truetype');
	font-display: swap;
}


@font-face {
    font-family: 'WalbaumGrot';
	font-weight : 500;
    src:url('../ressources/peaulisses/walbaumgrotesktext.eot');
    src:url('../ressources/peaulisses/walbaumgrotesktext.eot?#iefix') format('embedded-opentype'),
        url('../ressources/peaulisses/walbaumgrotesktext.woff2') format('woff2'),
        url('../ressources/peaulisses/walbaumgrotesktext.woff') format('woff'),
        url('../ressources/peaulisses/walbaumgrotesktext.ttf') format('truetype');
	font-display: swap;
}
@font-face {
    font-family: 'WalbaumGrot';
	font-weight : 500;
	font-style : italic;
    src:url('../ressources/peaulisses/walbaumgrotesktextitalic.eot');
    src:url('../ressources/peaulisses/walbaumgrotesktextitalic.eot?#iefix') format('embedded-opentype'),
        url('../ressources/peaulisses/walbaumgrotesktextitalic.woff2') format('woff2'),
        url('../ressources/peaulisses/walbaumgrotesktextitalic.woff') format('woff'),
        url('../ressources/peaulisses/walbaumgrotesktextitalic.ttf') format('truetype');
	font-display: swap;
}

@font-face {
    font-family: 'WalbaumGrot';
	font-weight : 800;
    src:url('../ressources/peaulisses/walbaumgrotesktextbold.eot');
    src:url('../ressources/peaulisses/walbaumgrotesktextbold.eot?#iefix') format('embedded-opentype'),
        url('../ressources/peaulisses/walbaumgrotesktextbold.woff2') format('woff2'),
        url('../ressources/peaulisses/walbaumgrotesktextbold.woff') format('woff'),
        url('../ressources/peaulisses/walbaumgrotesktextbold.ttf') format('truetype');
	font-display: swap;
}
@font-face {
    font-family: 'WalbaumGrot';
	font-weight : 800;
	font-style : italic;
    src:url('../ressources/peaulisses/walbaumgrotesktextbolditalic.eot');
    src:url('../ressources/peaulisses/walbaumgrotesktextbolditalic.eot?#iefix') format('embedded-opentype'),
        url('../ressources/peaulisses/walbaumgrotesktextbolditalic.woff2') format('woff2'),
        url('../ressources/peaulisses/walbaumgrotesktextbolditalic.woff') format('woff'),
        url('../ressources/peaulisses/walbaumgrotesktextbolditalic.ttf') format('truetype');
	font-display: swap;
}

/* typo */
body{
	
	font-family:'WalbaumGrot';
	font-weight : 500;
	margin:0%;
}

.main_typo6{
	fill:#004B9C;
	font-weight:700;
}
.main_typo6,.main_2_typob,.postes_0_1_typo{
	font-weight:700;
}

.echelle_p{
	font-weight:800;
}

.postes_0_1_typo,.src{
	-moz-font-feature-settings: 'smcp';
	-webkit-font-feature-settings: 'smcp';
	-ms-font-feature-settings: 'smcp';
	font-feature-settings: 'smcp';
}

.src{
	font-size:10em;
}

.titre_legende,.caisson_8{
	font-weight:800;
}

.bout_tout{
	font-weight:700;
}



/* structure */
.maindiv{
	position : absolute;
	width : 100%;
}

#div_svg{
	display:none;
}

#dessins{
	/* overflow:hidden; */
	position:relative;
}

#svg_fix,#svg_scroll{
	position : absolute;
	width : 100%;
}

#inner_img{
	margin-left:45%;
	margin-top:-2%;
	width:42%;
}

/* #bloc_src{ */
	/* opacity:0; */
	/* width: 44.7%; */
	/* margin-left: 55.2%; */
	/* margin-top: 43.9%; */
	/* position:absolute; */
/* } */

#inner_debut{
	position:absolute;
}
#indication_debut{
	/* text-align:center; */
	width:40%;	
	margin-top:10%;
	margin-left:10%;
}


/* trajet */
.deux_sens{
	cursor:url(../img/curs0.png) 4 12, auto;
}
.monter{
	cursor:url(../img/curs1.png) 4 12, auto;
}
.descendre{
	cursor:url(../img/curs2.png) 4 12, auto;
}

/* animations */
.c_attente{
	animation : tourneG 3.5s linear;
	animation-iteration-count : infinite;
}
.c_attente1{
	animation : tourneG 2s linear;
	animation-iteration-count : infinite;
}
.c_attente2{
	animation : tourneG 1s linear;
	animation-iteration-count : infinite;
}
.c_attente4{
	animation : tourneG 4s linear;
	animation-iteration-count : infinite;
}


.cg{
	transform-origin : 297.6px 475px;
}

.cd{
	transform-origin : 892.8px 475px;
}

@keyframes tourneG{
	from {transform: rotate(0deg);}

	to   {transform: rotate(-360deg);}
}


.clignote{
	animation : cli 1s linear;
	animation-iteration-count : infinite;
}

@keyframes cli{
	0%{opacity: 0;}
	50%  {opacity: 1;}
	100%  {opacity: 0;}
}


/* boutons */
#bouton_l:hover{
	opacity:0.9;
	cursor:pointer;
}






