
@font-face {
    font-family: 'Roboto';
	font-weight : 400;
    src:url("../ressources/polices/Roboto-Light.ttf");
}
@font-face {
    font-family: 'Roboto';
	font-weight : 800;
    src:url("../ressources/polices/Roboto-BoldCondensed.ttf");
}

body{
	font-family : 'Roboto';
	font-weight : 400;
	display : flex;

}

#content{
	width:98%;
	/* margin:auto; */
	text-align:center;
}

#dessin{
	width:98%;
	margin : auto;
}

.mooveCase:hover{
	opacity : 0.8;
}