@font-face {
    font-family: 'Roboto';
    src:url("../../ressources/polices/Roboto-Light.ttf");
}
@font-face {
    font-family: 'RobotoBold';
    src:url("../../ressources/polices/Roboto-BoldCondensed.ttf");
}
@font-face {
    font-family: 'WalbaumgrotBook';
    src:url("../../ressources/polices/walbaumgroteskbook/WalbaumGroteskBook.otf");
}
@font-face {
    font-family: 'WalbaumGroteskText';
    src:url("../../ressources/polices/WalbaumGroteskText/WalbaumGroteskText.otf");
}

@font-face {
    font-family: 'Minuscule6';
    src:url("../../ressources/polices/Minuscule6/Minuscule6.otf");
}
@font-face {
    font-family: 'Minuscule6-Italic';
    src:url("../../ressources/polices/Minuscule6/Minuscule6-Italic.otf");
}

@font-face {
    font-family: 'PlutoCondRegular';
    src:url("../../ressources/polices/Pluto/PlutoCondRegular.otf");
}
@font-face {
    font-family: 'PlutoCondRegular-Italic';
    src:url("../../ressources/polices/Pluto/PlutoCondRegular-Italic.otf");
}
@font-face {
    font-family: 'PlutoCondMedium';
    src:url("../../ressources/polices/Pluto/PlutoCondMedium.otf");
}
@font-face {
    font-family: 'PlutoCondBold';
    src:url("../../ressources/polices/Pluto/PlutoCondBold.otf");
}
@font-face {
    font-family: 'PlutoCondBlack';
    src:url("../../ressources/polices/Pluto/PlutoCondBlack.otf");
}
@font-face {
    font-family: 'PlutoCondHeavy';
    src:url("../../ressources/polices/Pluto/PlutoCondHeavy.otf");
}
@font-face {
    font-family: 'PlutoCondBold-Italic';
    src:url("../../ressources/polices/Pluto/PlutoCondBold-Italic.otf");
}
@font-face {
    font-family: 'PlutoBlack';
    src:url("../../ressources/polices/Pluto/PlutoBlack.otf");
}
@font-face {
    font-family: 'PlutoCondHeavy-Italic';
    src:url("../../ressources/polices/Pluto/PlutoCondHeavy-Italic.otf");
}
@font-face {
    font-family: 'PlutoCondMedium-Italic';
    src:url("../../ressources/polices/Pluto/PlutoCondMedium-Italic.otf");
}

.adapte{
	font-size: 13px;
}

.adapte2{
	font-size: 16px;
}

.adapte3{
	font-size: 25px;
}

body{
	font-family: WalbaumgrotBook, Roboto, helvetica, arial, sans-serif;
	display : flex;
}

#anime{
	position : absolute;
}

#init{
	display: none;
	position : relative;
}

#patienter{
	display : none;
	position : absolute;
	width : 80%;
	text-align : center;
	margin-top : 20%;
}

#bouton_l{
	border-radius : 20px;
	width: 45px;
	height: auto;
	margin : auto;
	padding : 4px 7px;
	border-style : solid;
	border-width:3px;
	border-color : #FFFFFF;
}

#bouton_0{
	width : 33%;
	padding-top : 7%;
	padding-bottom : 7%;
	margin-top : 20%;
	position : absolute;
	border-radius: 80px;
	border-width:30%;
	border-color : #FFFFFF;
	opacity : 0.97;
}

#default{
	text-align : center;
	width : 70%;
	height : 3%;
	z-index : 1;
	position : absolute;
}

#rules{
	display : none;
	position : absolute;
	margin-top : 10%;
	margin-left : 25%;
	z-index : 0;
	text-align: center;
}

.elt:hover{
	cursor : pointer;
	opacity : 0.4;
}

.selectable:hover{
	fill : #cce4f2;
	cursor : pointer;
}

.bouts{
	border-style : solid;
	border-width : 3%;
	border-color : #FFFFFF;
	border-radius: 40%;
	background: #f6e9d9;
	color: #333333;
	transition-duration:.2s;
	transition-property: background;
	-moz-transition-duration:.2s;
	-moz-transition-property: background;
	-webkit-transition-duration:.2s;
	-webkit-transition-property: background;
	font-family: WalbaumgrotBook, helvetica, arial, sans-serif;
	font-size : 14px;
	overflow : hidden;
	z-index : 1;
	position : absolute;
}

.bouts:hover{
	background: #be2e0d !important;
	color: #ffffff !important;
	cursor:pointer !important;
}

.on{
	background: #333333 !important;
}

.clignote{
	animation: cligne 1.5s linear;
	animation-iteration-count : infinite;
}

.gonfle{
	animation: gonfle 3s linear;
	animation-iteration-count : infinite;
}

@keyframes gonfle {
	0%   {transform: scale(1);
		opacity : 1}
    50%  {transform: scale(1.5);
		opacity : 0.95}
    100% {transform: scale(1);
		opacity : 1}
}

@keyframes cligne {
	0% {fill : #000000}
	50% {fill : #cce4f2}
	100% {fill : #000000}
}

.debitGauche{
	animation: tourneG 5s linear;
	animation-iteration-count : infinite;
}

@keyframes tourneG {
	from {transform: rotate(0deg);}
	to   {transform: rotate(-360deg);}
}	