
@font-face {
    font-family: 'Roboto';
    src:url("../ressources/polices/Roboto-Light.ttf");
}
@font-face {
    font-family: 'RobotoBold';
    src:url("../ressources/polices/Roboto-BoldCondensed.ttf");
}

body{
	font-family: Roboto, helvetica, arial, sans-serif;
}

#carte{
	width:80%;
}

.pays:hover{
	fill : brown;
}